body
{
	font-family:verdana, sans-serif, hevettica;
}

#mainView
{
	padding:25px;
}

h1,h2,h3,h4
{
		font-family: tahoma, sans-serif;
		white-space: nowrap;
}

h1
{
	font-size: 40px;
	padding-bottom:10px;
	text-align: center;
	padding: 15px;
	
	
}

h2
{
	font-size: 1.2em;
	text-align: center;
}

h3
{
	padding-top: 1em;
	padding-bottom:10px;
}

li
{
	display: inline;
	padding-left:10px;
	opacity:0.5;
	cursor: pointer;
	transition:width 2s;
	-webkit-transition:width 2s; /* Safari */
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
}
li:hover
{
	opacity:1.0;
}

nav
{ 
	border-bottom:1px solid black;
}


li a
{
	text-decoration: none;
	color: black;
}
p
{
	text-align: left;
	margin-top: 2em;
}

footer
{
	
	text-align:center;
	height:50px;
	border-top:1px solid black;
	padding:0.5em;
	
}

#overhead
{
	background-color: #d8c192;
	border-style: groove;
 
}

.pictures
{
	text-align:center;
	padding: 20px;
}


/*The other stuff*/
#wrapper {
	width:1000px;
	height:700px;
}

body {
	margin:0px;
	padding:0px;
}

#ui{
	position:absolute;
	z-index:100;
	left:50%;
	bottom:30px;
}

#ui button {
	/*margin-left:-50px;*/
	width:100px;
	height:40px;
	font-size:18;
	box-shadow: 0px 0px 20px gray;
}

#ui #feedback {
	/*margin-left:-250px;*/
	width:500px;
	height:40px;
	font-size:18px;
	box-shadow: 0px 0px 20px gray;
	text-align:center;
	padding-top:15px;
	margin-bottom:5px;
	background-color:white;
}

canvas {
	margin-left:auto;
}

#contentContainer {
	position:absolute;
	margin:0px;
	margin-left:50%;
	padding:0px;
	bottom:0%;
}
#containerInner {
	margin-left:-960px;
	padding:0px;
}
