
body {
	margin:0px;
	padding:0px;
}

#ui{
	position:absolute;
	z-index:100;
	left:50%;
	bottom:30px;
}

#ui button {
	margin-left:-50px;
	width:100px;
	height:40px;
	font-size:18;
	box-shadow: 0px 0px 20px gray;
}

#ui #feedback {
	margin-left:-250px;
	width:500px;
	height:40px;
	font-size:18px;
	box-shadow: 0px 0px 20px gray;
	text-align:center;
	padding-top:15px;
	margin-bottom:5px;
	background-color:white;
}

canvas {
	margin-left:auto;
}

#contentContainer {
	position:absolute;
	margin:0px;
	margin-left:50%;
	padding:0px;
	bottom:0%;
}
#containerInner {
	margin-left:-960px;
	padding:0px;
}
